.content {
    display: flex;
    flex-wrap: wrap;
}
nav {
    height: 100px;
}
nav h1 a {
    display: block;
    max-width: 400px;
    margin: auto;
}
nav h1 {
    padding: 20px;
}
.filter-options {
    height: 100px;
    max-width: 100%;
}  
#restaurants-list li {
    width: 100%;
}
/*  Small devices (landscape phones, 576px and up)  */
@media screen and (min-width: 576px) {
    nav {
        height: 80px;
    }
    nav h1 a {
        display: inline;
    }
    nav h1 {
        padding: 25px;
    }
    #restaurants-list li {
        width: calc((100% - 188px) / 2);
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    #restaurants-list li {
        width: calc((100% - 285px) / 3);
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    
    main, .header__inner, .nav, .content {
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
}
